.friendList {
  width: 600px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: auto;
}

.status {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.true {
  background-color: green;
}

.false {
  background-color: red;
}

.avatar {
  margin-right: 20px;
  width: 48px;
}
